body {
    background-image:  linear-gradient(to bottom, #ab936d, #ffffff);
}

h3.beginnings {
    border-left-style: solid;
    border-right-style: solid;
    border-color: #653119;
    padding: 0px 5px;
    font-family: Engravers MT;
    max-width: 163px;
}

h3.tour{
    border-left-style: solid;
    border-right-style: solid;
    border-color: #653119;
    padding: 0px 5px;
    font-family: Engravers MT;
    max-width: 80px;
}

h3.website_source {
    border-left-style: solid;
    border-right-style: solid;
    border-color: #653119;
    padding: 0px 5px;
    font-family: Engravers MT;
    max-width: 200px;
    font-size: 16px
}

p.beginnings {
    border-left-style: solid;
    border-color: #653119;
    max-width: 1000px;
    padding: 0px 5px;
}

nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    font-family: arial, sans-serif;
    overflow: hidden;
}

nav li {
    float: left;
    display: block;
    margin: 20px;
    padding: 5px;
    border: solid;
    font-family: Engravers MT;
    font-size: 14px;
}

nav li a {
    text-decoration: none;
    color: #000
}

nav li:hover {
    background-color: #fff;
}

img.boot {
    display: block;
    margin: auto;
    width: 40%;
}
