body {
    background-image:  linear-gradient(to bottom, #ab936d, #ffffff);
}

p {
    text-align: center;
    margin: 20px auto 20px auto;
    max-width: 1000px;
}

#album {
    border-left-style: solid;
    border-right-style: solid;
    border-color: #653119;
    padding: 0px 5px;
    font-family: Engravers MT;
    max-width: 310px;
    text-align: center;
    margin: auto;
}

h3 {
    text-align: center;
}

h3.beginnings {
    border-left-style: solid;
    border-right-style: solid;
    border-color: #653119;
    padding: 0px 5px;
    font-family: Engravers MT;
    max-width: 163px;
    text-align: center;
    margin: auto;
}

h3.tour{
    border-left-style: solid;
    border-right-style: solid;
    border-color: #653119;
    padding: 0px 5px;
    font-family: Engravers MT;
    max-width: 80px;
    text-align: center;
    margin: auto;
}

h3.website_source {
    border-left-style: solid;
    border-right-style: solid;
    border-color: #653119;
    padding: 0px 5px;
    font-family: Engravers MT;
    max-width: 200px;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

p.beginnings {
    max-width: 1000px;
    padding: 0px 5px 35px 0px;
    text-align: center;
    margin: 20px auto 40px auto;
    border-bottom: solid #653119;
    
    
}

nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    font-family: arial, sans-serif;
    overflow: hidden;
}

nav li {
    float: left;
    display: block;
    margin: 15px;
    padding: 5px;
    border: solid;
    font-family: Engravers MT;
    font-size: 14px;
}

nav li a {
    text-decoration: none;
    color: #000
}

nav li:hover {
    background-color: #fff;
}

img.boot {
    display: block;
    margin: auto;
    width: 40%;
}

ul.locations {
    list-style-type: none;
    margin: auto;
}

ul.locations li {
    float: left;
    display: block;
    border: solid 1px;
    margin: 20px;
    padding: 3px;
}

ul.locations li:hover {
    background-color: #fff;
}

#schedulerefer {
    margin: 20px auto 75px auto;
    border-bottom: solid #653119;
    padding-bottom: 30px;
}

#simpsonlogo {
    display: block;
    margin: auto;
    width: 40%;
}
