 .below_menu_container {
  padding-top: 40px;
}

footer {
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

h2 {
   font-weight: bold;
  }
  
 h3 {
    font-weight: bold;
 } 
 
 table, th, td {
    padding: 10px;
 }
 
 .bass {
    width: 16%;
 }
 
 .piano {
    width: 20%;
 }
 
 .drums {
  width: 22%;
 }

 .guitar {
    width: 13%;
 } 
 .fiddle {
    width: 25%;
 }